<!DOCTYPE html>
<html>
    <head>
        <title>YelpCamp</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
                <header class="jumbotron">
                    <div class="container">
                        <h1>Welcome to YelpCamp</h1>
                        <p>View our hand-picekd campgrounds</p>
                        <p>
                            <a class="btn btn-primary btn-lg" href="/campgrounds/new" >Add new Campground</a>            
                        </p>
                    </div>
                </header>
        </div>